
<div align = 'center'>
	<h2><u>Play Puzzles. Learn Physics. Get a Better Grade</u></h2>

	<img src="/images/blackboard.jpg" alt = "logo" width="400" height="200">
	<img src="/images/arrow.jpg" alt = "logo" width="200" height="200">
	<img src="/images/firstright.png" alt = "logo" width="400" height="200">

	<br><br><br>

	<h2><u>Play Puzzles and See High Scores</u></h2>
	<img src="/images/puzzles.png" alt = "logo" width="400" height="400">
	<img src="/images/highscores.png" alt = "logo" width="400" height="400">

	<h2><u>Keep a Custom Profile</u></h2>
	<img src="/images/profile.png" alt = "logo" width="400" height="400">

</div>