
<h2>This is the score page. Will be rerouted eventually</h2>

<h4>The puzzle id is: <%= @puzzle.id %></h4>
<h4>The puzzle_record id is: <%= @record.id %></h4>
<h4>The score is: <%= @score %></h4>
<h4>The record new score is <%= @record.score %></h4>